!!!
%html(lang="en")
  %body
    %h1 Instagram
    .posts-wrapper
      -@posts.each do |post|
        %ul.post
          =image_tag post.image
          .caption
            =post.caption

    %p.btn-group= link_to "New Post", new_post_path
