!!!
%html(lang="en")
  %body
    %h2 New Post
    = simple_form_for(@post, html: { class: 'form-group' }) do |form|
      = form.input :image, required: true
      = form.input :caption, required: true
      = form.button :submit
